<div class="containerprofile">
    <h2>Profile</h2>
    <p>Here you can find information about your profile! You can manage your rents and your posts.</p>
  </div>
  <div *ngIf="!isLoad">
    Loading...
    </div>
<div class="profilebox" *ngIf="isLoad">
    <div class="btnz">
        <button (click)="changeSections()" [style.backgroundColor]="postsisShown ? 'white' : 'pink'">Rents</button>
        <button (click)="changeSections()" [style.backgroundColor]="postsisShown ? 'pink' : 'white'">Posts</button>
    </div>
    <div class="profcontent">
        <div class="profcard">
            <div class="containery">
            <div class="card">
                <img src="/assets/images/profilepic.jpg">
                <div class="details">
                    <h3>{{theuser.user.username}}</h3>
                    <p>{{theuser.user.email}}</p>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="profposts" *ngIf="postsisShown">
            <section class="products">
                <h2>Your Posts</h2>
                <div class="all-products">
                    <div class="product" *ngFor="let rent of rentove">
                        <img src="{{rent.image}}" routerLink="/details/{{rent._id}}">
                        <div class="product-info">
                            <h4 class="product-title">{{rent.model}}
                            </h4>
                            <p class="product-price">${{rent.price}}/day</p>
                            <a class="product-btn" routerLink="/details/{{rent._id}}">See Now</a>
        
                        </div>
                    </div>
                    
                </div>
            </section>
        
        </div>
        <!-- <div class="profrents" > -->
            <div class="shopping-cart" *ngIf="!postsisShown">
                <!-- Title -->
                <div class="title">
                  My Rents
                </div>
               
                <!-- Product #1 -->
                <div class="item" *ngFor="let post of theuser.user.userReserves">
                  <div class="buttons">
                    <span class="delete-btn" (click)="postDel(post?._id, theuser?.user._id, post.reserveId._id)"><i class="fa-solid fa-xmark"></i></span>
                  </div>
               
                  <div class="image">
                    <img src="{{post.reserveId.image}}" alt="pic" routerLink="/details/{{post.reserveId._id}}"/>
                  </div>
               
                  <div class="description">
                    <span>{{post.reserveId.model}}</span>
                    <span>${{post.reserveId.price}}/day</span>
                  </div>
               
                  <div class="quantity">
                    
                    <input type="text" name="name" value='{{post.forDays}} days'>
                    
                  </div>
               
                  <div class="total-price">${{post.costPrice}}</div>
                </div>
                
               
                
              <!-- </div> -->
        </div>

    </div>
</div>